<!DOCTYPE html>
<html>
<head>
  <title>Speed Pong</title>
  <%= favicon_link_tag 'http://sr.photos3.fotosearch.com/bthumb/SUE/SUE113/RQCL0077.jpg' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
